# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/backend/.vs
/backend/WebAPI/Properties

*.git
*.vs
/backend/ApiCore/obj
/backend/ApiCore/bin
/backend/ApiCore/obj
/backend/ApiCore/Properties
/backend/ApiCore/bin
/backend/ApiCore/obj
